//Pictures

.landingpage {
    display: grid;
    grid-column: span 3;
    gap: 1em 1em;
    padding: 1rem;
}

.landingpage h1 {

    grid-column: 1 / 4;
    justify-self: center;
}

.landingpage source {
    width: 45%;
}

.landingpage img,
.landingpage source {
    width: 100%;
}

@mixin box-styles() {
    border: 1px solid $border-bottom-color;
    padding: 1rem;
}

.box1 {
    @include box-styles;
    grid-column: 1 / 2;
}

.box2 {
    @include box-styles;
    grid-column: 2 / 3;
}

.box3 {
    @include box-styles;
    grid-column: 3 / 4;
}
