@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 0;
    }

    .title {
        min-width: 50%;
    }
    
    .logo {
        max-width: 50%;
    }
}

@media screen and (max-width: 960px) {
    .landingpage {
        grid-gap: 5px;
        grid-template-columns: auto;
        grid-column: 1;
    }
    
    .box,
    .box-2-right,
    .box-full {
        border: 1px solid #fff;
        padding: 1rem; 
        grid-column: 1 / 1 !important;
    }

    .tech-menu {
        display: none;
    }
}