table {
    max-width: 100%;
    width: 100%;
    font-family: $header-font;
    border-collapse: collapse;

    th {
        text-align: left;
        border: 1px solid $border-alternative-color;
    }

    td {
        border-top: 1px solid $border-alternative-color;
    }

    th,
    td {
        padding: 0.8rem 1.2rem;
    }
}