//Technologies

.landingpage {
    display: grid;
    grid-column: span 3;
    gap: 1em 1em;
    padding: 1rem;
}

.landingpage h1 {

    grid-column: 1 / 4;
    justify-self: center;
}

@mixin box-styles() {
    border: 1px solid #fff;
    padding: 1rem;
}

.box {
    @include box-styles;
}

.box-2-right {
    @include box-styles;
    grid-column: 2 / 4;
}

.box-2-left {
    @include box-styles;
    grid-column: 1 / 3;
}

.box-full {
    @include box-styles;
    grid-column: 1 / 4;
}

//Technology

.single-technology {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.tech-menu {
    width: 30%;
}

.tech-content {
    width: 60%;
}