@import '../../node_modules/normalize.css/normalize';
@import 'variables';

@import 'blockquotes';
@import 'code';
// Exempel

* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

body {
    background-color: $background-color;
}

.body, .img {
    height: 10%;
}

ol, ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html, body {
    height: 100%;
}

/* Placement */

body {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
}

.header, .footer {
    flex: 0 0 auto;
}

/* Header */

.header, .site-header {
    display: flex;
    justify-content: space-between;
}

/* Title */

.title, .logo {
    padding: 3em 3em 3em 0;
}

@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 0;
    }
    .title {
        min-width: 50%;
    }
    .logo {
        max-width: 30%;
    }
}

.title * {
    color: #000;
}

.title p {
    font-style: italic;
}

.nav a {
    font-size: 2rem;
    text-decoration: none;
}

.nav a:hover {
    border-bottom: 4px solid $border-bottom-color;
}

/* main */

.main {
    width: 60%;
    margin: 0 auto;
}

p {
    margin-bottom: 1.4rem;
    font-size: 1.1em;
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 4px solid $border-bottom-color;
    background-color: $footer-background-color;
    color: #fff;
    padding: 4rem 6rem;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer .social {
    font-size: 2rem;
}

/* Typografy */

body {
    font-family: sans-serif;
    line-height: 1.4;
    color: $body-font-color;
}

p, td, th, li, dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.6em;
    font-weight: bold;
}

img {
    max-width: 100%;
}